<!DOCTYPE html>
<html>
	<head>
		<title>Drilling QC Tool</title>
		<meta charset="utf-8">
		<link rel="stylesheet" href="css/bootstrap.min.css">
		<link rel="stylesheet" href="css/bootstrap-responsive.min.css">
		<link rel="stylesheet" href="css/drilling_QC.css">
		<link rel="stylesheet" href="css/nv.d3.min.css"/>
		<script src="js/papaparse.min.js"></script>
		<script src="js/angular.min.js"></script>
		<script src="js/jquery-2.1.4.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/angular-nvd3.min.js"></script>
		<script src="js/d3.min.js"></script>
		<script src="js/nv.d3.min.js"></script>
		<script src="js/lodash.min.js"></script>
		
		<script>
			function set_color(operation){
				switch (operation) {
					case "Csg & Cmt":
					color = "purple";
					break;
					case "Drilling":
					color = "red";
					break;
					case "Logging":
					color = "yellow";
					break;
					default: 
					color  = "blue";
				}
				return color;
			}
			
			var Well = function(uwi, wellName, parent) {
				this.UWI = uwi;
				this.wellName = wellName;
				this.details = [];
				
				if (parent) {
					this.parent = parent;
				}
			};
			
			Well.prototype.addDetails = function(detail) {
				this.details.push(detail);
				
				return this;
			};
			
			Well.prototype.export = function() {
				console.log("Exporting "+this.UWI,this);
				
				return this;
			};
			
			Well.prototype.buildGraphData = function() {
				console.log("Building graph data...");
				var transformed = _.map(this.details, function(row) {
					return [new Date(row.StartTime), row.QC_AutoDepth];
				});
				console.log("transformed data",transformed);
				
				return [{
					key: 	'Depth',
					values: transformed
				}];
			};
			
			Well.prototype.getParent = function() {
				return this.parent;
			};
			
			var ListOfWells = function() {
				var data = [];
				var index = {};
				this.selectedWell = null;
				
				this.all = this.getAll = function() {
					return data;
				};
				
				this.editableFields = ['QC_AutoDepth', 'QC_MajorOperation'];
				
				this.addWell = function(well) {
					data.push(well);
					index[well.UWI] = well;
					
					this.selectedWell = this.selectedWell || well;
					
					return well;
				};
				
				this.selectNextWell = function() {
					var index = data.indexOf(this.selectedWell);
					if (index + 1 < data.length - 1) {
						this.selectedWell = data[++index];
					}
					
					return this;
				};
				
				this.selectPreviousWell = function() {
					var index = data.indexOf(this.selectedWell);
					if (index > 0) {
						this.selectedWell = data[--index];
					}
					
					return this;
				};
				
				this.getWell = function(wellName) {
					return index[wellName];
				};
				
				this.loadData = function(newData) {
					for (var i = 0; i < newData.length; i++) {
						var row = newData[i];
						var onWell = this.getWell(row.UWI) || this.addWell(new Well(row.UWI, row.Wellname, this));
						
						onWell.addDetails(row);
					}
					
					return this;
				};
			};
			
			angular
			.module('drillingApp', ['nvd3'])
			.controller('drillingInfoController', function($scope, $window) {
				$window.wells = $scope.wells = new ListOfWells();
				
				$('#fileInput').change(function(e){
					console.log('selected file changed ',e.target.files);
					localStorage.lastFile = 'excel_files/'+e.target.files[0].name;
					
					$scope.parse();
				});
				
				console.log('drillingInfo controller loaded...');
				
				$scope.displayWells = function() {
					console.log('Current loaded wells', $scope.wells.all());
				};
				
				$scope.$watch('wells.selectedWell', function(well) {
					console.log('well changed',well);
					if (well) {
						$scope.data = well.buildGraphData();
					}
				});
				
				$scope.parse = function(filename) {
					var files = $('#fileInput')[0].files;
					var lastFile = null;
					var papaConfig = {
						header: true,
						dynamicTyping: true,
						complete: function(results)
						{
							console.log("Done with all files.");
							console.log(results);
							console.log($scope.wells.loadData(results.data));
							$scope.$apply();
						}
					};
					if (lastFile = localStorage.lastFile) {
						$.get(lastFile,function(data) {
							Papa.parse(data,papaConfig);
						});		
					}
				};
				
				if (localStorage.lastFile) {
					$scope.parse();
				}
				
				$scope.options = {
					chart: {
						type: 'lineChart',
						height: 450,
						margin : {
							top: 20,
							right: 20,
							bottom: 60,
							left: 45
						},
						x: function(d){ return d[0]; },
						y: function(d){ return d[1]*-1; },
						//average: function(d) { return d.mean/100; },
						
						color: d3.scale.category10().range(),
						transitionDuration: 300,
						useInteractiveGuideline: true,
						// clipVoronoi: false,
						
						xAxis: {
							axisLabel: 'X Axis',
							tickFormat: function(d) {
								return d3.time.format('%m/%d/%y')(new Date(d))
							},
							showMaxMin: false,
							staggerLabels: true
						},
						
						yAxis: {
							axisLabel: 'Y Axis',
							tickFormat: function(d){
								return d3.format('')(d);
							},
							axisLabelDistance: 20
						}
					}
				};
				
				$scope.data = [];			
				
			}) //this closes the controller
			;
			
$(document).on("click", "#chart_svg", function(e) {
     //console.log (e);
     console.log (e.target.__data__);
    });
		</script>
	</head>
	<body>
		<div class="container-fluid" ng-app="drillingApp" ng-controller="drillingInfoController">
			<div class="row">
				<h1><Drilling QC Tool</h1>
				</div>
				<div class="row">
					<input type="file" id="fileInput" ng-model="file.test" />
					<button class="btn" ng-click="wells.selectedWell.export()">Export Well</button>
					<button class="btn" ng-click="wells.selectPreviousWell()">Previous Well</button>
					<button class="btn" ng-click="wells.selectNextWell()">Next Well</button>
				</div>
				
				<div class="row">
					<div class="col-md-8">
						<div class="row nvdGraph">
							<nvd3 options="options" data="data" id="chart_svg" class="with-3d-shadow with-transitions"></nvd3>
						</div>
						<div class="row">
							<button class="btn" ng-click="wells.selectedWell.buildGraphData()">Refresh</button>
						</div>
					</div>
					<div class="col-md-4 inputTable">
						<div class="row">
							<h2>{{ wells.selectedWell.UWI }}</h2>
							
							<table class="table">
								<tr>
									<th>Time</th>
									<th ng-repeat="field in wells.editableFields">{{ field }}</th>
								</tr>
								<tr ng-repeat="detail in wells.selectedWell.details">
									<td>{{ detail.StartTime }}</td>
									<td ng-repeat="attribute in wells.editableFields">
										<input class="table-inputs" ng-model="detail[attribute]" type="text" />
									</td>
								</tr>
							</table>
						</div>
					</div>
				</div>
				</div>
			</body>
		</html>																																																																																																																																																																			